USE [master]
GO
/****** Object:  Database [BLOG_ENGINE]    Script Date: 3/6/2020 9:47:28 AM ******/
CREATE DATABASE [BLOG_ENGINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BLOG_ENGINE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BLOG_ENGINE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BLOG_ENGINE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BLOG_ENGINE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BLOG_ENGINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BLOG_ENGINE]
GO
USE [BLOG_ENGINE]
GO
/****** Object:  User [2161]    Script Date: 3/6/2020 9:47:28 AM ******/
CREATE USER [2161] FOR LOGIN [2161] WITH DEFAULT_SCHEMA=[2161]
GO
/****** Object:  Schema [2161]    Script Date: 3/6/2020 9:47:28 AM ******/
CREATE SCHEMA [2161]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[catergory] [varchar](20) NULL,
	[cat_desc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[user_id] [int] NULL,
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_text] [varchar](255) NULL,
	[comment_datetime] [datetime] NULL,
	[post_id] [int] NULL,
	[comment_deleted] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREDENTIALS]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREDENTIALS](
	[user_id] [int] NOT NULL,
	[username] [varchar](16) NULL,
	[password] [varchar](255) NULL,
	[access_granted] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[user_id] [int] NULL,
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_text] [varchar](8000) NULL,
	[post_datetime] [datetime] NULL,
	[cat_id] [int] NULL,
	[post_title] [varchar](255) NOT NULL,
	[post_deleted] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](255) NOT NULL,
	[role_desc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_]    Script Date: 3/6/2020 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_name] [varchar](255) NULL,
	[user_surname] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMENT] ADD  DEFAULT ('F') FOR [comment_deleted]
GO
ALTER TABLE [dbo].[CREDENTIALS] ADD  DEFAULT ('T') FOR [access_granted]
GO
ALTER TABLE [dbo].[POST] ADD  DEFAULT ('F') FOR [post_deleted]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[POST] ([post_id])
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER_] ([user_id])
GO
ALTER TABLE [dbo].[CREDENTIALS]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER_] ([user_id])
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[CATEGORY] ([cat_id])
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER_] ([user_id])
GO
ALTER TABLE [dbo].[USER_]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLE] ([role_id])
GO
USE [master]
GO
